<section class="about">
    <app-section-header [icon]="'🧗'" [title]="'About'"></app-section-header>
    <div class="about-content">
        <img src="../../../assets/me-on-rocks.jpg" alt="Pictue of me rock climbing">
        <div class="text">
            <p class="fade-left">
                Hey there! I'm Ben, a Computer Science student at the University of Dayton. At UD I'm on the Mars Rover Team and the Rock Climbing Team. This Summer I'm doing a
                Software Engineering Internship at Riverside Research here in Dayton, and during the school year I work
                as part-time web developer for UD's student-run business Flyer Enterprises.
            </p>
            <div class="divider"></div>
            <p class="fade-left">
                My current interests include web development, and embedded systems programming. I also love to compete in Hackathons and tinker with different Linux distributions on old computers. When I'm not coding I like to rock climb, hike, read, solve Rubik's cubes, and spend time with friends.
            </p>
        </div>
    </div>
</section>