.icon {
    height: 50px;
    width: 50px;
    background-color: var(--white);
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.icon:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.7);
}