.projects {
    margin-top: 100px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 40px 0px;
    margin-top: 40px;
}

.center-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}


@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 0px
    }

    .center-card {
      margin-top: 0px;
    }
}