.experience-card {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: var(--purple);
    margin: 0 3rem 2.5rem 3rem;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.7);
}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.7s all;
}

.fade-up.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 25px 0px #675d9c;
}

.logo:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 15px 0px #675d9c;
}

.right {
    margin-left: 30px;
}

.name {
    color: var(--mint);
    font-size: 1.5rem;
}

.position {
    font-size: 1.25rem;
    font-weight: normal;
}

.dates {
    margin: 6px 0px;
    font-size: 1rem;
}

.dates span{
    background-color: var(--pink);
    font-weight: normal;
    padding: 2px 8px;
    border-radius: 999px;
    text-wrap: nowrap;
}

.description {
    font-size: 1.25rem;
    margin: 10px 0 0 16px;
}

.description > li {
    margin-top: 12px;
}

@media only screen and (max-width: 750px) {
    .experience-card {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem;
    }

    .left {
        display: flex;
        justify-content: center;

    }

    .right {
        margin-top: 1rem;
        margin-left: 0px;
    }
}