@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: #2e294e;
    --pink: #d90368;
    --mint: #06ffb3;
    --white: #f1e9da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    background-color: var(--white);
    color: var(--white);
    overflow: hidden;
}

@keyframes wave1 {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 50% 60%;
    }
}

@keyframes wave2 {
    0%, 100% {
        border-radius: 30% 70% 70% 30% / 30% 46% 54% 70%;
    }

    50% {
        border-radius: 74% 26% 43% 57% / 58% 59% 41% 42% ;
    }
}

@keyframes wave3 { 
    0%, 100% {
        border-radius: 38% 62% 27% 73% / 65% 38% 62% 35% ;
    }

    50% {
        border-radius: 68% 32% 67% 33% / 65% 71% 29% 35%;
    }   
}

@media only screen and (max-width: 750px) {
    .content {
        margin: 1rem;
        padding: 20px;
    }

    img {
        width: 80vw;
        height: 60vw;
    }
}

@media only screen and (max-width: 1200px) {
    .content {
        grid-template-columns: 1fr;
    }

    .text {
        margin: 0;
    }
}
